run = "bash install.sh && python src/app.py"
language = "python3"
modules = ["python-3.11"]

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "./src"
PORT = "3000"
FLASK_DEBUG = "1"

[deployment]
run = ["sh", "-c", "python src/app.py"]
deploymentTarget = "cloudrun"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Server"

[[workflows.workflow]]
name = "Flask Server"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 8081

[[ports]]
localPort = 3000
externalPort = 80
